<!DOCTYPE html>
<html>

<head>
	<title>SONIA</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</head>

<body>
	<button class="back-button" onclick="goBack()">Voltar</button>
	<h1>+ 10 Notícias da última hora</h1>
	<ul>
		{% for article in articles %}
		<li>
			<h2>{{ article.title }}</h2>
			<p>{{ article.description }}</p>
			<a href="{{ article.url }}" target="_blank">Leia mais</a>
		</li>
		{% endfor %}
	</ul>
</body>

</html>